body {
    background-color: #f3f4f6; /* Fondo claro */
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding: 30px;
    text-align: center;
}

.form-header {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    border-radius: 12px 12px 0 0;
    margin: -30px -30px 20px -30px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #e1e1e1;
    font-size: 14px;
}

.form-container input:focus {
    outline: none;
    border: 1px solid #6a11cb;
}

.form-container button {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background: linear-gradient(to right, #5b0eb7, #1f69e2);
}

.form-footer {
    font-size: 14px;
    margin-top: 15px;
    color: #6c757d;
}

.form-footer a {
    color: #2575fc;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}